<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lost & Found</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="splash-body">

<div class="splash-container">
    <img src="{{ url_for('static', filename='images/logo.png') }}" class="splash-logo">
    <h1 class="splash-title">Lost & Found Portal</h1>
    <p class="splash-sub">Secure • Smart • Fast Recovery</p>
</div>

<script>
    setTimeout(() => {
        window.location.href = "/login";
    }, 2600);
</script>

</body>
</html>
